/* Page header */
.banner-text {
    left: 0;
}

p.page-banner-credit {
    left: 2rem;
}

/* Header */
.header-bottom .navbar-light .navbar-nav .active > .nav-link::after,
.header-bottom .navbar-light .navbar-nav .nav-link.active::after {
    left: 0;
}

.top-links .nav-link.nav-link-1-2-item.pipe:after {
    right: 0;
}

/* Hamburger menu */
.nav-toggle {
    right: 0.5rem;
}

/* Footer */
.new-artifact {
    right: 3rem;
}

/* Filter */
.filter-item {
    float: right;
    border-left: 1.5px solid #fff;
}

.filter-item:last-child {
    border-left: 0;
    border-right: 1.5px solid #fff;
}

.form-filters .origin-radio label {
    margin-right: 10px;
}

/* Forms */
.range-set .period-fields.form-check {
    float: left;
}

.range-set .period-fields.form-group {
    float: left;
}

.exact-set .period-fields {
    float: left;
}

.main-form-title {
    text-align: left;
}

.main-form-subtitle {
    text-align: left;
}

#quick-years button {
    margin-right: 0.5rem;
}

/* NoUiSlider */
.noUi-connect, .noUi-origin {
    right: 15px;
}

/* Main */
.card.small {
    float: left;
}

.card.small.first {
    margin-right: 15px;
}

.card.small.last {
    margin-left: 15px;
}

.step {
    float: left;
}

.step::after {
    right: -2rem;
}

/* Responsive */
@media (min-width: 576px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 767px) {
    .top-links #lang-form button {
        left: 1rem;
    }

    p.page-banner-credit {
        left: 1rem;
    }

    #hamburger-menu {
        -webkit-transition: right 0.5s ease;
        -moz-transition: right 0.5s ease;
        -ms-transition: right 0.5s ease;
        -o-transition: right 0.5s ease;
        transition: right 0.5s ease;
        background: #fff;
        border-left: 1px solid #ccc;
        right: -50vw;
    }

    #hamburger-menu.expanded {
        right: 0;
    }

}
