/* hebrew */
@font-face {
    font-family: 'Alef';
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/alef/Alef-Regular.ttf);
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin */
@font-face {
    font-family: 'Alef';
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/alef/Alef-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* hebrew */
@font-face {
    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    src: url(/static/fonts/alef/Alef-Bold.ttf);
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin */
@font-face {
    font-family: 'Alef';
    font-style: normal;
    font-weight: 700;
    src: url(/static/fonts/alef/Alef-Bold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: url(/static/fonts/arimo/Arimo-Italic.ttf);
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* hebrew */
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: url(/static/fonts/arimo/Arimo-Italic.ttf);
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin */
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: url(/static/fonts/arimo/Arimo-Italic.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* hebrew */
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 700;
    src: url(/static/fonts/arimo/Arimo-BoldItalic.ttf);
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin */
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 700;
    src: url(/static/fonts/arimo/Arimo-BoldItalic.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* hebrew */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/arimo/Arimo-Regular.ttf);
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/arimo/Arimo-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* hebrew */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: url(/static/fonts/arimo/Arimo-Bold.ttf);
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: url(/static/fonts/arimo/Arimo/Arimo-Bold.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* Generic */
body {
    font-family: 'Alef', "Helvetica Neue", Arial, sans-serif;
}

.alef-font {
    font-family: 'Alef', "Helvetica Neue", Arial, sans-serif;
}

.arimo-font {
    font-family: 'Arimo', "Helvetica Neue", Arial, sans-serif;
}

.text-blue {
    color: #47C3D3;
}

.text-orange {
    color: #FFA400;
}

.text-red {
    color: #CC5947;
}

.text-dark-gray {
    color: #666666;
}

/* Buttons */
.btn-orange {
    color: #fff;
    background-color: #FFA400;
    border-color: #FFA400;
    border-radius: 0;
}

.btn-orange:hover {
    color: #fff;
    background-color: #FFA400;
    border-color: #FFA400;
}

.btn-orange:focus, .btn-orange.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-orange.disabled, .btn-orange:disabled {
    background-color: #FFA400;
    border-color: #FFA400;
}

.btn-orange:not([disabled]):not(.disabled):active, .btn-orange:not([disabled]):not(.disabled).active,
.show > .btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #FFA400;
    border-color: #FFA400;
}

.btn-orange:not([disabled]):not(.disabled):active:focus, .btn-orange:not([disabled]):not(.disabled).active:focus,
.show > .btn-orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-blue {
    color: #fff;
    background-color: #47C3D3;
    border-color: #47C3D3;
    border-radius: 0;
}

.btn-blue:hover {
    color: #fff;
    background-color: #47C3D3;
    border-color: #47C3D3;
}

.btn-blue:focus, .btn-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-blue.disabled, .btn-blue:disabled {
    background-color: #47C3D3;
    border-color: #47C3D3;
}

.btn-blue:not([disabled]):not(.disabled):active, .btn-blue:not([disabled]):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
    color: #fff;
    background-color: #47C3D3;
    border-color: #47C3D3;
}

.btn-blue:not([disabled]):not(.disabled):active:focus, .btn-blue:not([disabled]):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-dark-gray {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
    border-radius: 0;
}

.btn-dark-gray:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

.btn-dark-gray:focus, .btn-dark-gray.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-dark-gray.disabled, .btn-dark-gray:disabled {
    background-color: #666666;
    border-color: #666666;
}

.btn-dark-gray:not([disabled]):not(.disabled):active, .btn-dark-gray:not([disabled]):not(.disabled).active,
.show > .btn-dark-gray.dropdown-toggle {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

.btn-dark-gray:not([disabled]):not(.disabled):active:focus, .btn-dark-gray:not([disabled]):not(.disabled).active:focus,
.show > .btn-dark-gray.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Page header */
.banner-text {
    position: absolute;
    width: 100%;
    left: 0;
    top: 250px;
}

h1.page-banner-title {
    margin: 0;
    font-size: 5.82rem;
    color: #fff;
    text-align: center;
    line-height: 6rem;
}

h2.page-banner-subtitle {
    margin: 0;
    font-size: 3.65rem;
    color: #fff;
    text-align: center;
    line-height: 4rem;
}

p.page-banner-credit {
    position: absolute;
    bottom: 0;
    left: 2rem;
    color: #fff;
}

/* Titles */
.step_title span {
    border-bottom: 4px solid;
}

.step_title .blue {
    border-color: #47C3D3;
}

.step_title .orange {
    border-color: #FFA400;
}

/* Header */
header .header-top {
    width: 100%;
    height: calc(100vw / 2.782);
    padding: 2rem;
    background-image: url(/static/images/1920x690.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header .logo {

}

.header-bottom .navbar-light {
    border-bottom: 2px solid #ccc;
}

.header-bottom .navbar-light .navbar-nav .nav-link {
    font-size: 1.625rem;
    padding: 0;
    margin: 0 2rem;
    position: relative;
}

.header-bottom .navbar-light .navbar-nav .active > .nav-link::after,
.header-bottom .navbar-light .navbar-nav .nav-link.active::after {
    content: "";
    border-bottom: 3px solid;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -0.6rem;
    left: 0;
}

.no-btn {
    background-color: transparent;
    border: 0;
}

.top-links .dropdown-menu {
}

.top-links .dropdown-menu .dropdown-item:focus,
.top-links .dropdown-menu .dropdown-item:hover {
}

.top-links #lang-form,
.top-links .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    line-height: 60px;
    font-size: 1.625rem;
    color: #fff;
}

.top-links .nav-link.dropdown-toggle {
    height: 60px;
    line-height: 60px;
}

.top-links .nav-link.dropdown-toggle::after {
    display: none;
}

.new-artifact {
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    width: 150px;
    height: 150px;
    line-height: 1;
    text-align: center;
    padding: 31px 0;
    font-weight: bold;
    font-size: 2.75rem;
}

/* Main */
main {
    padding: 4rem 0;
}

.artifact-set {

}

.artifact-set .card {
    text-align: center;
}

.artifact-set .card a {
    height: 100%;
    overflow: hidden;
}

.artifact-set .card img {
    border-bottom: 4px solid;
}

.artifact-set .card.blue img {
    border-color: #47C3D3;
}

.artifact-set .card.red img {
    border-color: #CC5947;
}

.artifact-set .card div {
    display: block;
    font-size: 1.625rem;
    line-height: 1;
    color: #000;
    margin-top: 10px;
    min-height: 81px;
}

.artifact-set .card div:hover {
    text-decoration: none;
}

.artifact-set .card div span {
    display: block;
    font-size: 1.125rem;
}

.card {
    border: 0;
    border-radius: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card.big {
    width: 100%;
    height: 600px;
    display: inline-flex;
}

.card.small {
    width: calc(50% - 30px);
    float: left;
    height: 270px;
    margin: 15px;
}

.card.big img,
.card.small img {
    background-color: #ccc;
    border-bottom: 8px solid #47C3D3;
    max-height: calc(100% - 60px);
    width: auto;
}

.card.small.first {
    margin-right: 15px;
}

.card.small.last {
    margin-left: 15px;
}

.step_title {

}

.steps {
    clear: both;
    width: 15rem;
    margin: 0 auto 4rem;
    text-align: center;
}

.step {
    float: left;
    line-height: 3rem;
    width: 3rem;
    vertical-align: middle;
    background-color: gray;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 50%;
    position: relative;
    margin: 0 1rem;
}

.step::after {
    content: '';
    width: 2rem;
    border-bottom: 3px solid gray;
    position: absolute;
    top: calc(50% - 1.5px);
    right: -2rem;
}

.step:last-child::after {
    display: none;
}

.step_one {
    background-color: #FFA400;
}

.step_two {
    background-color: #47C3D3;
}

.step_three {
    background-color: #CC5947;
}

.progress-map {
    width: 100%;
    height: calc(100vw / 4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* SVG's */
.svg-icon.flag-svg svg {
    width: 60px;
    height: 60px;
}

.svg-icon.lang_switcher {
    vertical-align: sub;
    display: inline-block;
}

.svg-icon.lang_switcher svg {
    width: auto;
    height: 30px;
}

/* Responsive */
@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}
