DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'diaspora',
        'USER': 'yaniv',
        'PASSWORD': 'number14',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}
