{% load i18n static bhdigitalcollection %}
<footer>
    <div class="footer-top" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({% private_or_collection_image artifact 'footer' %})">
        <div class="container">
            <div class="part-of-the-story text-center">
                <p class="artifact-footer-line1">
                    {% trans 'You are part of the story' %}
                </p>
                <p class="artifact-footer-line2">
                    {% trans 'Do you have an interesting item' %}?
                </p>
                <a class="btn square-btn btn-blue" href="{% url 'artifacts:create_step_one' %}">
                    {% trans 'Share with us' %}
                </a>
            </div>
        </div>
    </div>
</footer>