{% load i18n static bhdigitalcollection %}
<footer>
    <div class="footer-top">

        <div class="container">
            <div class="part-of-the-story text-center">
                    <div>
                        {% trans 'you are part of the story' %}
                    </div>
                    <div>
                        {% trans 'Do you have an interesting item ?' %}
                    </div>
                    <a class="btn square-btn btn-outline-blue" href="{% url 'artifacts:create_step_one' %}">
                        {% trans 'Share with us' %}
                    </a>
                </div>
        </div>
</footer>