{% load i18n static bhdigitalcollection %}
<footer>
    <div class="main-footer footer-top"{% if page_banner %} style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{ page_banner.image.url }})"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8">
                    <p class="footer-text">
                        {% blocktrans trimmed %}
                        Beit Hatfutsot connects Jewish people to their roots and strengthens their personal and collective Jewish identity. The Museum of the Jewish People conveys to the world the fascinating narrative of the Jewish people and the essence of the Jewish culture, faith, purpose and deed while presenting the contribution of world Jewry to humanity.
                        {% endblocktrans %}
                        <a class="bh-link" href="https://www.bh.org.il" target="_blank">
                            {% trans 'click here to go to bh website' %}.
                        </a>
                    </p>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="part-of-the-story text-center">
                        <p>
                            {% trans 'You are part of the story' %}
                        </p>
                        <a class="btn square-btn btn-outline-blue" href="{% url 'artifacts:create_step_one' %}">
                            {% trans 'Upload artifact' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>