{% extends 'artifacts/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="container pt-5 pb-5">
        <p class="text-center font-bold"> אודות אוסף מוזיאון העם היהודי – בית התפוצות</p>
        <p>מוזיאון העם היהודי – בית התפוצות, מחדש בימים אלו את תצוגת הקבע ומוסיף חללים לתערוכות מתחלפות. תצוגת הקבע
            המתוכננת תיקח את המבקרים למסע מרתק של חקר וגילוי סיפורו הייחודי והמתמשך של העם היהודי מאז ועד היום.</p>
        <p>לקראת חידוש המוזיאון אנו בונים כעת אוסף מוצגים עשיר המכיל חפצי יודאיקה, טקסטיל, תרבות חומרית, אתנוגרפיה
            ואומנות. כל זאת בזכות תרומותיהם של קהילות, אספנים פרטיים ומשפחות מישראל ומהעולם.
            פריטים נבחרים מהאוסף ניתן כבר לראות בגלריית בתי הכנסת – הגלריה הראשונה שנפתחה לציבור - שבה מוצגים דגמי בתי
            כנסת מרחבי העולם לצד חפצי יודאיקה מקוריים מקהילותיהם.</p>

        <p class="text-center font-bold"> אודות אוסף הגולשים</p>
        <p>תצוגת הקבע החדשה שנבנית בימים אלו במוזיאון העם היהודי – בית התפוצות, תציג סיפור המכיל ייצוג למגוון של מקומות,
            תקופות ודורות שונים המייצגים שונות תרבותית בעבר ובהווה. התצוגה היא פלורליסטית באופייה ולפיכך תאפשר לכל מבקר
            ומבקרת למצוא את עצמם במוזיאון ולהרגיש שהם חלק מסיפורו של העם היהודי.
            אנו מזמינים את המבקרים והגולשים להעלות לפלטפורמה האינטרנטית שלנו חפצים אישיים ומשפחתיים ולשתף אותנו בסיפור
            שמאחוריהם. כיוון שכל אחד ואחת מאתנו הוא חלק מהסיפור, כל חפץ הוא עדות לסיפור המשותף.</p>

        <p class="text-center font-bold"> אילו פריטים אנחנו מחפשים ולמה להעלות כל פריט</p>
        <p class="text-center"> אנו נשמח להעלות לפלטפורמת הגולשים כל חפץ אישי/משפחתי/קהילתי שיש לו זיקה לסיפורו של העם
            היהודי וקהילותיו בכל רחבי העולם בעבר ובהווה.</p>
    </div>
{% endblock %}
