{% extends 'artifacts/base.html' %}
{% load static bhdigitalcollection i18n %}

{% block main %}
    <main>
        <div class="justify-content-md-center pb-5">
            <div class="form-header">
                <div class="container">
                    <div class="steps clearfix">
                        <div class="step-item">
                            <span class="step current_step">1</span> <span class="step_active">{% trans 'About yourself' %}</span>
                        </div>
                        <div class="step-item">
                            <span class="step">2</span> {% trans 'Info about your item' %}
                        </div>
                        <div class="step-item">
                            <span class="step">3</span> {% trans 'Item pictures' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="main-form-title">
                        {% trans 'Your part of the story' %}
                    </div>
                    <div class="main-form-subtitle">
                        {% trans 'Upload item in 3 simple steps' %}
                    </div>
                    <div class="form-description">
                        {% blocktrans trimmed %}
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        {% endblocktrans %}
                    </div>
                    <h1 class="step_title">
                        {% trans 'About yourself' %}
                    </h1>
                </div>
                <div class="col-12 col-md-6 offset-md-3">
                    {% include '_base_form.html' with form=form submit_text=_('Continue') labels=True full_size=True button_color='blue' btn_location='right' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
