{% extends 'artifacts/base.html' %}
{% load static i18n jewishdiaspora %}

{% block content %}
    <div class="card-columns artifact-set">
        {% for artifact in artifacts %}
            <div class="card {% if artifact.is_private %}red{% else %}blue{% endif %}">
                <img class="card-img-top"
                     src="{% if artifact.get_cover_image %}{{ artifact.get_cover_image.url }}{% endif %}"
                     alt="{{ artifact|bd:'name' }}">
                <a href="{% url 'artifacts:detail' artifact.id %}">
                    <span>{{ artifact|bd:'name' }}</span>
                    {{ artifact.origin_country.name }}{% if artifact.get_years %}, {{ artifact.get_years }}{% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
