{% extends 'artifacts/base.html' %}
{% load static bhdigitalcollection i18n %}

{% block content %}
    <div class="justify-content-md-center">
        <div class="container">
            <div class="col-12">
                <h1 class="text-center pt-4">
                    {% trans 'Update artifact' %} #{{ object.id }}
                </h1>
            </div>
            {% if messages %}
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="alert alert-success" role="alert">
                        {% for message in messages %}
                            {{ message }}{% if forloop.counter > 1 %}<br>{% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="col-12 col-md-6 offset-md-3">
                {% include '_base_form.html' with form=form submit_text=_('Update') labels=True full_size=True button_color='blue' btn_location='right' %}
            </div>
            <div class="col-12 col-md-6 offset-md-3">
                <h4>{% trans 'Crop images' %}</h4>
                {% for image in images %}
                    <a href="{% url 'artifacts:crop_image' image.id %}">
                        <img src="{{ image.image.url }}" class="rounded float-left" width="150" height="150">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
