{% extends 'artifacts/base.html' %}
{% load static jewishdiaspora i18n %}

{% block content %}
    <div class="row justify-content-md-center">

        <div class="col col-md-8">
            <h5> TAB_PLACE_HOLDER  </h5>
        </div>

        <div class="col col-md-8">
            <p>{{ page_description  |linebreaksbr }}  </p>
        </div>

        <div class="col col-md-8">
            <h5>{{ form_description }}</h5>
           <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}


