{% extends 'artifacts/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="container">
        <h1>{{ artifact.name }}</h1>
        <p>{{ artifact.description|linebreaksbr }}</p>
        <div class="row">
            {% for image in artifact.images.all %}
                <div class="col-6 col-md-3">
                    <img src="{{ image.image.url }}" class="rounded img-thumbnail" alt="{{ artifact.name }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
