{% extends 'artifacts/base.html' %}
{% load static i18n bhdigitalcollection %}

{% block content %}
    <div id="artifacts-list" class="card-columns artifact-set">
        {% for artifact in artifacts %}
            <div class="card blue{% if not artifact.is_private %} bh{% endif %}">
                <a class="d-block" href="{{ artifact|get_slug_or_none }}">
                    <img class="img-fluid" src="{% private_or_collection_image artifact %}" alt="{{ artifact|bd:'name' }}">
                </a>
                <div class="card-body">
                    <a class="d-block" href="{{ artifact|get_slug_or_none }}">
                        <span>{{ artifact|bd:'name' }}</span>
                        {{ artifact.origin_country.name }}{% if artifact.get_years %},
                            {{ artifact.get_years }}{% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
