{% extends 'artifacts/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="container">
        <h1>{{ artifact.name }}, {{ artifact.year_era }},  {{ artifact.origin_country }}  </h1>
        <p>{{ artifact.description|linebreaksbr }}</p>
        <center><a href="#"> <b>{% trans 'read more' %} </b> </a></center>
    </div>
    <br/><br/>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/map123.jpg' %}" class="rounded img-thumbnail" ">
        </div>
    </div>
    <br/><br/>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>  {% trans 'More information' %} </h3>
                <hr />

                <p>{% trans 'donors name' %}   {{ artifact.donor_name }} </p>
                <p>{% trans 'origin' %} {{ artifact.origin_country }} </p>
                <P>{% trans 'year' %}        {{ artifact.year_era }}  </P>
                <P>{% trans 'material' %}       {{ artifact.year_era  }} artifact_materials </P>
                <hr />
            </div>

            <div class="col">
                {% if artifact.is_displayed %}
                     {% trans 'Displayed' %}  {{ artifact.displayed_at }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container" >
        <div class="row">
            <p style="border-radius: 50px;color:gray;background:lightgrey;width:150px;margin:10px;text-align:center;"> {% trans 'jewelry' %} </p>
            <p style="border-radius: 50px;color:gray;background:lightgrey;width:150px;margin:10px;text-align:center;"> {% trans 'Persian Empire' %} </p>
            <p style="border-radius: 50px;color:gray;background:lightgrey;width:150px;margin:10px;text-align:center;"> {% trans 'gold' %} </p>
            <p style="border-radius: 50px;color:gray;background:lightgrey;width:150px;margin:10px;text-align:center;"> {% trans 'pearls' %} </p>
        </div>
    </div>
    <br/><br/>

    <div class="container">
        <div class="row">
            {% for image in artifact.images.all %}
                <div class="col-6 col-md-3">
                    <img src="{{ image.image.url }}" class="rounded img-thumbnail" alt="{{ artifact.name }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
