{% extends 'artifacts/base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'artifacts:PersonalInformationRegistrationPage' %}">1. Personal Information > <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'artifacts:ArtifactInformationRegistrationPage' %}">2. Artifact Information > </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'artifacts:ArtifactsImagesRegistrationPage' %}">3. Artifact Images </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
