<!doctype html>
{% load i18n static %}

<html lang="{{ LANGUAGE_CODE }}" class="lang-{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="robots" content="noindex, nofollow">
        {% block extrameta %}{% endblock %}
        {% block title %}
            <title>
                {% block page_title %}{{ page_title }}{% endblock %} | {% trans 'BH Digital Collection' %}
            </title>
        {% endblock %}
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
        {% comment %}<link href="{% static 'vendors/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">{% endcomment %}
        <link href="{% static 'css/bootstrap' %}{% if LANGUAGE_BIDI %}_rtl{% endif %}.css" rel="stylesheet">
        {% if filterable %}
            <link href="{% static 'vendors/noUiSlider/nouislider.css' %}" rel="stylesheet">
        {% endif %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% if LANGUAGE_BIDI %}
            <link href="{% static 'css/rtl.css' %}" rel="stylesheet">
        {% else %}
            <link href="{% static 'css/ltr.css' %}" rel="stylesheet">
        {% endif %}
        {% block extrahead %}{% endblock %}
        <script defer src="{% static 'vendors/fontawesome-free-5.0.8/svg-with-js/js/fontawesome-all.js' %}"></script>
    </head>
    <body{% block body_class %}{% endblock %}>
        <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
            your browser</a>.</p>
        <![endif]-->
        {% block header %}{% include 'artifacts/_header.html' %}{% endblock %}
        {% if filter_form %}
            {% block filter %}
                <div class="form-filters">
                    {% include 'artifacts/_filters.html' %}
                </div>
            {% endblock %}
        {% endif %}
        {% block main %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <main{% if filterable %} class="pt-4 pb-4"{% endif %}>
                            {% block content %}BASE CONTENT{% endblock %}
                        </main>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block footer %}
            {% if page_name == 'artifact_detail' %}
                {% include 'artifacts/_artifact_footer.html' %}
            {% else %}
                {% include 'artifacts/_footer.html' %}
            {% endif %}
        {% endblock %}
        {% block modals %}{% endblock %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/scrollPosStyler.js' %}"></script>
        <script src="{% static 'js/bhdigitalcollection.js' %}"></script>
        {% if filterable %}
            <script src="{% static 'vendors/noUiSlider/nouislider.min.js' %}"></script>
            <script src="{% static 'js/slider.js' %}"></script>
        {% endif %}
        <script>
            $(function () {
                ScrollPosStyler.init({
                    scrollOffsetY: 1,
                    spsClass: 'sps',
                    classBelow: 'fixed-top',
                    classAbove: 'sps--abv'
                })
            })
        </script>
        {% block scripts %}{% endblock %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    </body>
</html>
