{% extends 'artifacts/base.html' %}
{% load static i18n bhdigitalcollection %}

{% block content %}
    <div id="artifacts-list">
        {% for artifact in artifacts %}
            <div class="row">
                <div class="col-12 col-md-6 artifact-set order-md-{% cycle '1' '12' %}">
                    <div class="card big">
                        <a class="img-container d-block" href="{{ artifact|get_slug_or_none }}">
                            <span style="background-image: url({% if artifact.get_cover_image %}{{ artifact.get_cover_image.url }}{% endif %});"></span>
                        </a>
                        <div class="card-body">
                            <a class="d-block" href="{{ artifact|get_slug_or_none }}">
                                {{ artifact|bd:'name' }}
                                <span>
                                    {{ artifact.origin_country.name }}{% if artifact.get_years %}, {{ artifact.get_years }}{% endif %}
                                </span>
                            </a>
                        </div>
                        {% if request.user.is_superuser %}
                            <a class="btn btn-info edit-artifact-btn" href="{% url 'artifacts:artifact_update' artifact.id %}">
                                {% trans 'Edit' %}
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% for a in none_featured|slice_qs:forloop.counter0 %}
                    {% if forloop.first %}
                        <div class="col-12 col-md-6 artifact-set order-md-{% cycle '12' '1' %}">{% endif %}
                <div class="card small">
                    <a class="d-block img-container" href="{{ a|get_slug_or_none }}">
                        <span style="background-image: url({% if a.get_cover_image %}{{ a.get_cover_image.url }}{% endif %});"></span>
                    </a>
                    <div class="card-body">
                        <a class="d-block" href="{{ a|get_slug_or_none }}">
                            {{ a|bd:'name' }}
                            <span>
                                {{ a.origin_country.name }}{% if a.get_years %}, {{ a.get_years }}{% endif %}
                            </span>
                        </a>
                    </div>
                    {% if request.user.is_superuser %}
                        <a class="btn btn-info edit-artifact-btn" href="{% url 'artifacts:artifact_update' a.id %}">
                            {% trans 'Edit' %}
                        </a>
                    {% endif %}
                </div>
                {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
