{% extends 'artifacts/base.html' %}
{% load static i18n %}

{% block content %}

<div class="row">
    <span style="border-radius: 50px;color:white;background:cyan;width:30px;margin:10px;text-align:center;"> 1 </span>
    <span style="color:gray;background:white;width:5px;margin:10px;text-align:center;"> - </span>
    <span style="border-radius: 50px;color:white;background:grey;width:30px;margin:10px;text-align:center;"> 2  </span>
    <span style="color:gray;background:white;width:5px;margin:10px;text-align:center;"> - </span>
    <span style="border-radius: 50px;color:white;background:gray;width:30px;margin:10px;text-align:center;"> 3 </span>
</div>

<br/><br/>

<div>
    <h5>1. {% trans 'Personal Information' %} </h5>
</div>

<hr/>
 <form>
        <div class="form-group">
            <label for="fullName">{% trans 'Full Name1' %}:</label>
            <input type="text" class="form-control" id="fullName" aria-describedby="fullNameHelp" placeholder="Enter full name">
            <small id="fullNameHelp" class="form-text text-muted">Please enter your name.</small>
        </div>
        <div class="row ">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <label for="phone">{% trans 'Phone number' %}:</label>
                <input type="number" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Enter phone number">
                <small id="phoneHelp" class="form-text text-muted">Please enter your phone number.</small>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <span class="help-block text-muted small-font"> </span>
                <label for="phone7"> </label>
                <select class="form-control" id="phone7">
                    <option>050</option>
                    <option>052</option>
                    <option>053</option>
                    <option>054</option>
                    <option>077</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="emailAddress">{% trans 'Email address' %}:</label>
            <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">{% trans "We'll never share your email with anyone else." %}</small>
        </div>

        <button type="submit" class="btn btn-primary">{% trans 'Continue' %}</button>
    </form>
{% endblock %}
