{% extends 'artifacts/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="card-columns artifact-set">
        {% for artifact in artifacts %}
            <div class="card">
                <img class="card-img-top"
                     src="{% if artifact.get_cover_image %}{{ artifact.get_cover_image.url }}{% endif %}"
                     alt="{{ artifact.name }}">
                <a href="{% url 'artifacts:detail' artifact.id %}">
                    <span>{{ artifact.name }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
