{% extends 'artifacts/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="row">
        {% for artifact in artifacts %}
            <div class="col-6 col-md-3 artifact-set">
                <div class="card">
                    <img class="card-img-top"
                         src="{% if artifact.get_cover_image %}{{ artifact.get_cover_image.url }}{% endif %}"
                         alt="{{ artifact.name }}">
                    <a href="{% url 'artifacts:detail' artifact.id %}">
                        <span>{{ artifact.name }}</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
