{% extends 'artifacts/base.html' %}
{% load static i18n bhdigitalcollection %}

{% block body_class %} class="artifact-detail"{% endblock %}

{% block extrahead %}
    <link href="{% static 'vendors/OwlCarousel2-2.3.4/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/OwlCarousel2-2.3.4/assets/owl.theme.default.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <main>
        <div id="carousel_artifacts" class="carousel slide" data-ride="carousel">
            {% if artifact.images.all|length > 1 %}
                <ol class="carousel-indicators">
                    {% for image in artifact.images.all %}
                        <li data-target="#carousel_artifacts" data-slide-to="{{ forloop.counter0 }}"
                                {% if forloop.first %}
                            class="active" {% endif %}>
                            <img class="img-fluid" src="{{ image.image.url }}">
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
            <div class="carousel-inner">
                {% for image in artifact.images.all %}
                    <div class="carousel-items1  carousel-item{% if forloop.first %} active{% endif %}"
                         style="background-image: url({{ image.image.url }});">
                    </div>
                {% endfor %}
            </div>
            {% if artifact.images.all|length > 1 %}
                <a class="carousel-control-prev" href="#carousel_artifacts" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel_artifacts" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            {% endif %}
        </div>
        <div class="container">
            <h1 class="artifact-name">
                {{ artifact|bd:'name' }}
            </h1>
            <div class="sub-title">
                {{ artifact.origin_country.name }}{% if artifact.get_years %}, {{ artifact.get_years }}{% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="description">{{ artifact|bd:'description'|linebreaksbr }}</div>
                    {% comment %}
                    <a class="header-more" href="#">
                       <b>{% trans 'Read more' %}</b>
                    </a>
                    {% endcomment %}
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-4">{% trans 'Donor name' %}</dt>
                        <dd class="col-sm-8">{{ artifact|bd:'donor_name' }}</dd>
                    </dl>
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-4">{% trans 'Origin' %}</dt>
                        <dd class="col-sm-8">{{ artifact.origin_country.name }}</dd>
                    </dl>
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-4">{% trans 'Year' %}</dt>
                        <dd class="col-sm-8">{% if artifact.get_years %}, {{ artifact.get_years }}{% endif %}</dd>
                    </dl>
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-4">{% trans 'Artifact material' %}</dt>
                        <dd class="col-sm-8">
                            {% for material in artifact.artifact_materials.all %}
                                {{ material }}
                            {% endfor %}
                        </dd>
                    </dl>
                    <hr/>
                </div>
                <div class="col-3">
                    <div class="upload-share">
                        <p>
                            {% trans 'uploaded by' %} {{ artifact|bd:'donor_name' }}
                        </p>
                        <p>
                            <a href="#">
                                {% trans 'more about community' %} {{ artifact.origin_country.name }}
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                {% trans 'share' %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-3 pb-5">
            {% for tag in artifact.get_all_tags %}
                <span class="tag-rect">
                    {{ tag }}
                </span>
            {% endfor %}
        </div>
        {% if donors_artifacts %}
            <div class="container">
                <h4 class="header-more">{% trans 'Maybe you would like these' %}</h4>
            </div>
            <div class="donors-artifacts pt-3 pb-3">
                <div class="owl-carousel donor-carousel">
                    {% for item in donors_artifacts %}
                        <div class="item">
                            <a href="{{ item|get_slug_or_none }}">
                            <span class="donor-item"
                                  style="background-image: url({{ item.get_cover_image.image.url }})"></span>
                            </a>
                            <span class="item-info">
                            {{ item|bd:'name' }}
                            <span class="item-name">
                                {{ item.origin_country.name }}{% if item.get_years %},
                                    {{ item.get_years }}{% endif %}
                            </span>
                        </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% comment %}
                <h4 class="header-more">{% trans 'from the same origin' %}</h4>
                <div class="row">
                    {% for image in artifact.images.all %}
                        <div class="col-6 col-md-3">
                            <img src="{{ image.image.url }}" class="rounded img-thumbnail"
                                 alt="{{ artifact|bd:'name' }}">
                        </div>
                    {% endfor %}
                </div>
            {% endcomment %}
        {% endif %}
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'vendors/OwlCarousel2-2.3.4/owl.carousel.min.js' %}"></script>
    <script>
        $(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                dots: false,
                rtl: isRtl,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    992: {
                        items: 5
                    }
                }
            })
        })
    </script>
{% endblock %}
