{% extends 'artifacts/base.html' %}
{% load static i18n bhdigitalcollection %}

{% block body_class %} class="artifact-detail"{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <h1 class="artifact-name">
                {{ artifact|bd:'name' }}
            </h1>
            <div class="sub-title">
                {{ artifact.origin_country.name }}, {{ artifact.year_from }}-{{ artifact.year_to }}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="description">{{ artifact|bd:'description'|linebreaksbr }}</div>
                    <a class="header-more" href="#">
                       <b>{% trans 'Read more' %}</b>
                    </a>
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-4">{% trans 'Donor name' %}</dt>
                        <dd class="col-sm-8">{{ artifact|bd:'donor_name' }}</dd>
                    </dl>
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-4">{% trans 'Origin' %}</dt>
                        <dd class="col-sm-8">{{ artifact.origin_country.name }}</dd>
                    </dl>
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-4">{% trans 'Year' %}</dt>
                        <dd class="col-sm-8">{{ artifact.year_from }}-{{ artifact.year_to }}</dd>
                    </dl>
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-4">{% trans 'Artifact material' %}</dt>
                        <dd class="col-sm-8">
                            {% for material in artifact.artifact_materials.all %}
                            {{ material }}
                            {% endfor %}
                        </dd>
                    </dl>
                    <hr/>
                </div>
                <div class="col-3">
                    <div class="upload-share">
                        <div>  {% trans 'uploaded by' %}  {{ artifact|bd:'donor_name' }}  </div>
                        <div>
                            <a  href="#">  {% trans 'more about community' %}  {{ artifact.origin_country.name }} </a>
                        </div>
                        <div>
                             <a  href="#"> {% trans 'share' %} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            {% for tag in artifact.get_all_tags %}
                <span class="tag-rect">
                    {{ tag }}
                </span>
            {% endfor %}
            </div>
        </div>
        <div class="container">
            <h4 class="header-more">{% trans 'Maybe you would like these' %}</h4>
            <h4 class="header-more">{% trans 'from the same origin' %}</h4>
            <div class="row">
                {% for image in artifact.images.all %}
                    <div class="col-6 col-md-3">
                        <img src="{{ image.image.url }}" class="rounded img-thumbnail"
                             alt="{{ artifact|bd:'name' }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
