{% extends 'artifacts/base.html' %}
{% load static bhdigitalcollection i18n %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col col-md-8">
            <h1>{{ page_title }}</h1>
        </div>
        {% if messages %}
            <div class="col col-md-8">
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        {{ message }}{% if forloop.counter > 1 %}<br>{% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="col col-md-8">
            {% include '_base_form.html' with form=form submit_text=_('Contact us') labels=True %}
        </div>
    </div>
{% endblock %}
